SUB_STORE_HOST_URL=http://127.0.0.1:3000
SUB_STORE_EXTENSION_ADMIN_TOKEN=
SUB_STORE_BACKEND_DIR=../Sub-Store/backend
SUB_STORE_EXTENSION_SOURCE_URL=https://raw.githubusercontent.com/dompling/Sub-Store-Extensions/main/repository/catalog.json
